<mat-form-field>
  <input matInput type="text" [(ngModel)]="primaryColor">
</mat-form-field>

<button mat-raised-button color="primary" (click)="savePrimaryColor()">Save Primary Color</button>

<p>Primary Color Palette</p>
<div *ngFor="let color of primaryColorPalette" [style.background-color]="color.hex" [style.color]="color.darkContrast ? 'black' : 'white'">
  {{color.name}}
</div>
<hr>

<mat-form-field>
  <input matInput type="text" [(ngModel)]="secondaryColor">
</mat-form-field>

<button mat-raised-button color="accent" (click)="saveSecondaryColor()">Save Secondary Color</button>

<p>Secondary Color Palette</p>
<div *ngFor="let color of secondaryColorPalette" [style.background-color]="color.hex" [style.color]="color.darkContrast ? 'black' : 'white'">
  {{color.name}}
</div>
