/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@import '~@angular/material/theming';
@include mat-core();

$dynamic-theme-primary: (
  50 : var(--theme-primary-50),
  100 : var(--theme-primary-100),
  200 : var(--theme-primary-200),
  300 : var(--theme-primary-300),
  400 : var(--theme-primary-400),
  500 : var(--theme-primary-500),
  600 : var(--theme-primary-600),
  700 : var(--theme-primary-700),
  800 : var(--theme-primary-800),
  900 : var(--theme-primary-900),
  A100 : var(--theme-primary-A100),
  A200 : var(--theme-primary-A200),
  A400 : var(--theme-primary-A400),
  A700 : var(--theme-primary-A700),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$dynamic-theme-secondary: (
  50 : var(--theme-secondary-50),
  100 : var(--theme-secondary-100),
  200 : var(--theme-secondary-200),
  300 : var(--theme-secondary-300),
  400 : var(--theme-secondary-400),
  500 : var(--theme-secondary-500),
  600 : var(--theme-secondary-600),
  700 : var(--theme-secondary-700),
  800 : var(--theme-secondary-800),
  900 : var(--theme-secondary-900),
  A100 : var(--theme-secondary-A100),
  A200 : var(--theme-secondary-A200),
  A400 : var(--theme-secondary-A400),
  A700 : var(--theme-secondary-A700),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$app-theme: mat-light-theme(mat-palette($dynamic-theme-primary), mat-palette($dynamic-theme-secondary), mat-palette($mat-red));

@include angular-material-theme($app-theme);
